html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

main {
	height: 100%;
	width: 100%;
}

main header {
	font-weight: 700;
	background-color: rgb(11, 119, 161);
	padding: 10px;
	color: white;
	text-align: center;
}

main .title {
	text-align: center;
}
